* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
}

.main {
    width: 100%;
    height: 50vh;
    color: white;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main nav {
    padding-top: 1em;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main nav .logo {
    width: 50%;
}

.main nav .logo img {
    width: 100%;
    aspect-ratio: 1/0.2;
    object-fit: cover;
}

.main nav ul {
    display: none;
}

.main nav ul a {
    text-decoration: none;
    color: white;
}

.main nav .sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    list-style: none;
    top: 0%;
    gap: 2em;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
    right: 0%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px);
  }
  .main nav .sidebar a {
    font-size: 2em;
  }
  .main nav .sidebar i {
    font-size: 2em;
  }
  .main nav .menu {
    display: initial;
    position: fixed;
    right: 4%;
    list-style: none;
  }
  .main nav .menu i {
    font-size: 2em;
  }

.main .head {
    position: absolute;
    bottom: 50%;
    left: 35%;
    text-align: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .head h1 {
    font-size: 1.5em;
}

.about-us {
    width: 100%;
    padding: 6em 2em;

}

.about-us p {
    font-size: 1em;
    opacity: .7;
    margin-top: 2em;
    margin-bottom: 2em;
}

.about-us a {
    text-decoration: none;
    color: #f44336;
    border: 2px solid #f44336;
    font-size: 1em;
    padding: 1em 2em;
}

.about-us .about {
    width: 100%;
    display: flex;
    gap: 2em;
}

.about-us .about .about-info {
    width: 50%;
}

.about-us .about .about-info h1 {
    font-size: 2.5em;
}

.about-us .about .about-img {
    width: 50%;
}

.about-us .about .about-img img {
    width: 100%;
    object-fit: cover;
}

.about-us .about .about-img .img {
    width: 100%;
    object-fit: cover;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: 2em;
}

footer p {
    opacity: .7;
}


@media (min-width: 1080px) {
    .main {
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .main nav {
        width: 100%;
        position: relative;
    }

    .main nav .logo {
        width: 12%;
    }

    .main nav .logo img {
        width: 100%;
    }

    .main nav ul {
        padding: 2em;
        width: 40%;
        gap: 5em;
        display: initial;
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: flex-end
    }

    .main nav ul li {
        list-style: none;
        position: relative;
    }

    .main nav ul li ::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 4px;
        width: 100%;
        background: #f44336;
        border-radius: 50px;
        transform: scaleX(0);
        transition: transform 0.2s linear;
    }

    .main nav ul li :hover::after {
        transform: scaleX(1);
    }

    .main nav ul li a {
        display: inherit;
        font-size: 1.3em;
    }

    .main nav .menu {
        display: none;
      }
      .main nav .slidebar {
        display: none;
      }

    .main .head {
        top: 50%;
        left: 40%;
    }

    .main .head h1 {
        font-size: 5em;
    }


.about-us p {
    width: 100%;
    font-size: 1.5em;
    padding-left: 2em;
}

.about-us a {
    margin-left: 2em;
}

.about-us .about .about-info {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 2em;
}

.about-us .about .about-info h1 {
    width: 100%;
}

.about-us .about .about-img .img {
    display: none;
}

footer {
    margin-top: 2em;
    padding: 0 3em;
}

footer h1 {
    font-size: 3em;
}

footer p {
    opacity: .7;
}
}