* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
}

main {
    width: 100%;
}

.main {
    width: 100%;
    height: 50vh;
    color: white;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.main nav {
    padding-top: 1em;
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.main nav .logo {
    width: 50%;
}

.main nav .logo img {
    width: 100%;
    aspect-ratio: 1/0.2;
    object-fit: cover;
}

.main nav ul {
    display: none;
}

.main nav ul a {
    text-decoration: none;
    color: white;
}

.main nav .sidebar {
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    list-style: none;
    top: 0%;
    gap: 2em;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 2em;
    right: 0%;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.384);
    backdrop-filter: blur(10px);
}

.main nav .sidebar a {
    font-size: 2em;
}

.main nav .sidebar i {
    font-size: 2em;
}

.main nav .menu {
    display: initial;
    position: fixed;
    right: 4%;
    list-style: none;
}

.main nav .menu i {
    font-size: 2em;
}


.main .head {
    position: absolute;
    bottom: 40%;
    left: 30%;
    text-align: center;
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.main .head h1 {
    font-size: 1.5em;
}

.course {
    padding: 3rem;
    text-align: center;
}

.course h1 {
    font-size: 2.3em;
}

.course p {
    padding-top: 1em;
    opacity: 0.5;
    font-size: 1.1em;
}

.course .course-item .container {
    border-radius: 1em;
    background-color: #fff3f3;
    text-align: center;
    padding: 2em;
    margin-top: 2em;
    transition: cubic-bezier(0.19, 1, 0.22, 1);
}

.course .course-item .container h1 {
    font-size: 1.5em;
}

.course .course-item .container p {
    padding-top: 1em;
    opacity: 0.5;
    font-size: 1.1em;
}

.course .course-item .container:hover {
    box-shadow: 0 0 50px 20px rgba(0, 0, 0, 0.2);
}

.faculity {
    padding: 2em;
    width: 100%;
    text-align: center;
}

.faculity h1 {
    font-size: 2.1em;
}

.faculity p {
    margin-top: 1em;
    font-size: 1.2em;
    opacity: 0.7;
}

.faculity .faculity-line {
    text-align: left;
}

.faculity .faculity-line .faculity-info {
    margin-top: 1.5em;
    width: 100%;
}

.faculity .faculity-line .faculity-info .faculity-pic {
    width: 100%;
}

.faculity .faculity-line .faculity-info .faculity-pic img {
    border-radius: 2em;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.faculity .faculity-line .faculity-info .info {
    margin-top: 1em;
}

.faculity .faculity-line .faculity-info .info h1 {
    font-size: 1.5em;
}

.faculity .faculity-line .faculity-info .info p {
    opacity: 0.7;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2em;
    padding: 2em;
    padding-bottom: 2em;
}

footer p {
    opacity: .7;
}

@media (min-width: 1080px) {
    .main {
        width: 100%;
    }

    .main nav {
        width: 100%;
        position: relative;
    }

    .main nav .logo {
        width: 12%;
        margin-left: 3em;
    }

    .main nav .logo img {
        width: 100%;
    }

    .main nav ul {
        padding: 2em;
        width: 40%;
        gap: 5em;
        display: initial;
        display: flex;
        align-items: center;
        gap: 1em;
        justify-content: flex-end
    }

    .main nav ul li {
        list-style: none;
        position: relative;
    }

    .main nav ul li ::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -4px;
        height: 4px;
        width: 100%;
        background: #f44336;
        border-radius: 50px;
        transform: scaleX(0);
        transition: transform 0.2s linear;
    }

    .main nav ul li :hover::after {
        transform: scaleX(1);
    }

    .main nav ul li a {
        display: inherit;
        font-size: 1.3em;
    }

    .main .head {
        top: 50%;
        left: 34%;
    }

    .main nav .menu {
        display: none;
    }

    .main nav .slidebar {
        display: none;
    }

    .main .head h1 {
        font-size: 5em;
    }

    .course {
        padding: 5em;
        width: 100%;
    }

    .course h1 {
        font-size: 2.5em;
    }

    .course p {
        font-size: 1em;
    }

    .course .course-item {
        display: flex;
        gap: 4em;
        margin-top: 2em;
        align-items: center;
        justify-content: space-evenly;
    }

    .course .course-item .container {
        padding: 2em;
        width: 35%;
        border-radius: 1em;
    }

    .course .course-item .container h1 {
        font-size: 2em;
    }

    .course .course-item .container p {
        font-size: 1em;
        text-align: center;
    }

    .faculity {
        width: 100%;
        padding: 3em;
    }

    .faculity h1 {
        font-size: 2.5em;
    }

    .faculity p {
        font-size: 1em;
    }

    .faculity .faculity-line {
        margin-top: 2em;
        width: 100%;
        padding: 0 5em;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        gap: 3em;
    }

    .faculity .faculity-line .faculity-info {
        width: 35%;
        aspect-ratio: 1/1;
    }

    .faculity .faculity-line .faculity-info .faculity-pic img {
        border-radius: 1em;
    }

    .faculity .faculity-line .faculity-info .info {
        padding-left: 1em;
    }

    .faculity .faculity-line .faculity-info .info h1 {
        font-size: 1.3em;
        margin-top: 1em;
    }

    footer {
        margin-top: 2em;
        padding: 0 8em;
        padding-bottom: 2em;
    }

    footer h1 {
        font-size: 3em;
    }

    footer p {
        opacity: .7;
        font-size: 1em;
    }
}